<div class="centred">
    <div class="logo">
        <a href="#" class="storm_404"><img src="images/logo.svg"></a>
    </div>
    <h1>{{error.status}}</h1>
    <h2>{{message}}</h2>
    <div class="stack">
        {{error.stack}}
    </div>
</div>