<div class="row">
    <div class="col-md-4 col-md-push-1 user">
        <div class="form formuser">
            <form class="login-form" action="" method="post">
                <div class="login-logo"><img src="images/logo.svg">
                    <button class="loginbut">Log in via <b>estorm</b></button>
                </div>
            </form>
        </div>
    </div>
</div>